<%- include partials/header %>
<%- include partials/navbar %>

<h1 class="listsH1"><%= headings %> </h1>
<div class="row mb-5">
    <% for (let i = 0; i < assignments.length; i++) { %>

    <div id="card" class="col-xs-1-12 m-2 p-2 list-item">

        <ul>
            <li hidden><%= assignments[i].id %> </li>
            <li><span class="listSpan">Title: </span><%= assignments[i].title %> </li>
            <li><span class="listSpan">Description: </span><%= assignments[i].description %> </li>
            <li><span class="listSpan">Submition: </span><%= assignments[i].subDate.toString().slice(0,16) %> </li>
            <li><span class="listSpan">Oral Mark</span><%= assignments[i].oralMark %> </li>
            <li><span class="listSpan">Total Mark</span><%= assignments[i].totalMark %> </li>
        </ul>
    </div>
    <% } %>

</div>
<%- include partials/footer %>