<%- include partials/header %>
<%- include partials/navbar %>

<h1><%= headings %> </h1>

<div class="row mb-5">
    <% for (let i = 0; i < courses.length; i++) { %>

    <div class="col-xs-1-12 m-2 p-2">

        <ul>
            <li hidden><%= courses[i].id %> </li>
            <li><%= courses[i].title %> </li>
            <li><%= courses[i].stream %> </li>
            <li><%= courses[i].type %> </li>
            <li><%= courses[i].start_date.toString().slice(0,16) %> </li>
            <li><%= courses[i].end_date.toString().slice(0,16) %> </li>
        </ul>
    </div>
    <% } %>

</div>


<%- include partials/footer %>