<%- include partials/header %>
<%- include partials/navbar %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <a href="http://localhost:3000/list/">
      Inforamation about our School
  </a>

<%- include partials/footer %>
